In [318]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [319]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [320]:

train_df.describe()

,record_id,gdp_per_capita_usd,mental_health_index,longitude,food_security_index,latitude,healthcare_access_index,extreme_weather_events,heat_wave_days,population_millions,air_quality_index,temp_anomaly_celsius,health_risk_class
count,12842.000000,11878.000000,9126.000000,11314.000000,8060.000000,11932.000000,8554.000000,12196.000000,12145.000000,11331.000000,11378.000000,12067.000000,12842.000000
mean,6421.500000,26134.737760,69.866467,30.556847,93.395165,21.938629,64.842716,0.168169,0.149443,215.341145,97.851409,0.123147,1.403052
std,3707.310413,26315.881181,5.021787,83.890824,6.298881,40.005966,18.244755,0.482075,0.458391,354.506742,60.479689,0.504928,0.975751
min,1.000000,-99.732182,47.700000,-106.375592,65.300000,-38.443338,28.100000,0.000000,0.000000,-98.522545,-99.307549,-1.760000,0.000000
25%,3211.250000,3528.153901,66.500000,-3.740000,88.900000,4.570000,46.900000,0.000000,0.000000,60.000000,53.000000,-0.220000,1.000000
50%,6421.500000,13796.094953,70.000000,22.930000,94.600000,23.630000,66.250000,0.000000,0.000000,98.000000,92.000000,0.130000,1.000000
75%,9631.750000,49965.000000,73.300000,100.990000,99.900000,37.090000,81.600000,0.000000,0.000000,206.000000,142.000000,0.460000,2.000000
max,12842.000000,78630.000000,88.700000,499.937305,100.177448,497.991552,102.000000,5.000000,5.000000,1412.914623,302.000000,2.120000,3.000000

In [321]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12842 entries, 0 to 12841
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   record_id                12842 non-null  int64
 1   flood_indicator          11604 non-null  object
 2   country_code             12842 non-null  object
 3   week                     11869 non-null  object
 4   temperature_celsius      11101 non-null  object
 5   pm25_ugm3                11911 non-null  object
 6   region                   12204 non-null  object
 7   gdp_per_capita_usd       11878 non-null  float64
 8   month                    12202 non-null  object
 9   precipitation_mm         11630 non-null  object
 10  mental_health_index      9126 non-null   float64
 11  year                     11409 non-null  object
 12  longitude                11314 non-null  float64
 13  food_security_index      8060 non-null   float64
 14  latitude                 11932 non-null  float64
 15  healthcare_access_index  8554 non-null   float64
 16  drought_indicator        11900 non-null  object
 17  income_level             12342 non-null  object
 18  extreme_weather_events   12196 non-null  float64
 19  heat_wave_days           12145 non-null  float64
 20  date                     12788 non-null  object
 21  country_name             12842 non-null  object
 22  population_millions      11331 non-null  float64
 23  air_quality_index        11378 non-null  float64
 24  temp_anomaly_celsius     12067 non-null  float64
 25  health_risk_class        12842 non-null  int64
dtypes: float64(11), int64(2), object(13)
memory usage: 2.5+ MB

In [322]:
train_df.drop(['record_id', 'date','country_name','temperature_celsius'], axis=1, inplace=True)

# drought_indicator

In [323]:
train_df['drought_indicator'].value_counts()

drought_indicator
0.0                   10777
False                   172
N                       165
No                      165
no                      164
FALSE                   161
0                       151
1.0                     133
1                         3
TRUE                      2
Yes                       1
Y                         1
yes                       1
True                      1
1.0000321483312822        1
0.999085341107566         1
1.0001426094682164        1
Name: count, dtype: int64

In [324]:
# First, normalize everything to lowercase strings (for easier mapping)
train_df['drought_indicator'] = train_df['drought_indicator'].astype(str).str.lower()

# Define mapping
mapping = {
    '0': 0,
    '0.0': 0,
    'false': 0,
    'n': 0,
    'no': 0,
    '1': 1,
    '1.0': 1,
    'true': 1,
    'y': 1,
    'yes': 1
}

# Apply mapping
train_df['drought_indicator'] = train_df['drought_indicator'].map(mapping)

# Handle remaining values that weren't in the mapping (including 'nan')
# Replace NaN values with an empty string
train_df['drought_indicator'] = train_df['drought_indicator'].fillna('nan')

# Check result
train_df['drought_indicator'].value_counts()

drought_indicator
0.0    11755
nan      945
1.0      142
Name: count, dtype: int64

In [325]:
test_df['drought_indicator'].value_counts()

drought_indicator
0    1676
1      16
Name: count, dtype: int64

# extreme_weather_events

In [326]:
test_df['extreme_weather_events'].value_counts()

extreme_weather_events
0    1479
1     178
2      27
3       5
4       2
5       1
Name: count, dtype: int64

In [327]:
train_df['extreme_weather_events'].value_counts()

extreme_weather_events
0.000000    10604
1.000000     1208
2.000000      288
3.000000       62
4.000000       12
1.001206        1
1.995687        1
1.001362        1
1.997400        1
1.998218        1
0.999617        1
0.999410        1
0.997838        1
0.999916        1
1.001383        1
2.002742        1
1.000437        1
3.001961        1
1.000591        1
0.999447        1
0.998953        1
0.998715        1
0.998860        1
1.999915        1
1.000613        1
5.000000        1
1.000492        1
Name: count, dtype: int64

In [328]:
# First convert empty strings to NaN
train_df['extreme_weather_events'] = train_df['extreme_weather_events'].replace('', float('nan'))

# Convert to numeric, errors='coerce' will convert non-numeric values to NaN
train_df['extreme_weather_events'] = pd.to_numeric(train_df['extreme_weather_events'], errors='coerce')

# Round only the non-NaN values
train_df.loc[train_df['extreme_weather_events'].notna(), 'extreme_weather_events'] = train_df.loc[train_df['extreme_weather_events'].notna(), 'extreme_weather_events'].round()

# Convert to Int64 which can handle NaN values (pandas nullable integer type)
train_df['extreme_weather_events'] = train_df['extreme_weather_events'].astype('Int64')

# Check the counts
train_df['extreme_weather_events'].value_counts(dropna=False)

extreme_weather_events
0       10604
1        1223
<NA>      646
2         293
3          63
4          12
5           1
Name: count, dtype: Int64

# heat waves days

In [329]:
train_df['heat_wave_days'].value_counts()

heat_wave_days
0.000000    10747
1.000000     1044
2.000000      274
3.000000       53
4.000000        9
0.998857        1
1.000793        1
1.997635        1
0.999267        1
2.002725        1
1.000400        1
0.997587        1
0.999319        1
2.997229        1
0.999860        1
0.999326        1
1.997709        1
1.001093        1
1.002217        1
0.998698        1
1.997331        1
5.000000        1
1.000842        1
Name: count, dtype: int64

In [330]:
train_df['heat_wave_days'] = test_df['heat_wave_days'].round().astype(int)

In [331]:
train_df['heat_wave_days'].value_counts()

heat_wave_days
0.0    1505
1.0     153
2.0      27
3.0       5
4.0       2
Name: count, dtype: int64

In [332]:
test_df['heat_wave_days'].value_counts()

heat_wave_days
0    1505
1     153
2      27
3       5
4       2
Name: count, dtype: int64

# flood indicator

In [333]:
train_df['flood_indicator'].value_counts()

flood_indicator
0.0      10556
FALSE      178
False      167
N          167
no         162
No         160
0          152
1.0         58
Yes          1
Y            1
True         1
yes          1
Name: count, dtype: int64

In [334]:
 def standardize_bool(value):
        if pd.isna(value):
            return np.nan
        val_str = str(value).strip().lower()
        if val_str in ['0', '0.0', 'false', 'no', 'n']:
            return 0.0
        elif val_str in ['1', '1.0', 'true', 'yes']:
            return 1.0
        else:
            return np.nan

In [335]:
if 'flood_indicator' in train_df.columns:
    train_df['flood_indicator'] = train_df['flood_indicator'].apply(standardize_bool)
    print(f"✓ flood_indicator: Standardized boolean values")

✓ flood_indicator: Standardized boolean values

In [336]:
train_df['flood_indicator'].value_counts()

flood_indicator
0.0    11542
1.0       61
Name: count, dtype: int64

# country code

In [337]:
# Step 1: basic cleanup
train_df['country_code'] = (
    train_df['country_code']
    .astype(str)
    .str.strip()
    .str.replace('\t', '', regex=False)
    .str.upper()
)

# Step 2: mapping all variants → standard 3-letter codes
country_map = {
    # India
    'INDIA': 'IND', 'IND': 'IND', 'IN': 'IND',

    # USA
    'USA': 'USA', 'U.S.A': 'USA', 'US': 'USA',

    # UK
    'UK': 'GBR', 'GB': 'GBR', 'GBR': 'GBR',

    # China
    'CHINA': 'CHN', 'CHN': 'CHN', 'CN': 'CHN',

    # Japan
    'JAPAN': 'JPN', 'JP': 'JPN', 'JPN': 'JPN',

    # France
    'FRANCE': 'FRA', 'FR': 'FRA', 'FRA': 'FRA',

    # Germany
    'GER': 'DEU', 'DE': 'DEU', 'DEU': 'DEU',

    # Brazil
    'BRAZIL': 'BRA', 'BR': 'BRA', 'BRA': 'BRA',

    # Australia
    'AUS': 'AUS', 'AU': 'AUS', 'AUST': 'AUS',

    # Others (already ISO-like)
    'EGY': 'EGY', 'COL': 'COL', 'VNM': 'VNM', 'PHL': 'PHL',
    'ZAF': 'ZAF', 'ARG': 'ARG', 'BGD': 'BGD', 'ESP': 'ESP',
    'THA': 'THA', 'CAN': 'CAN', 'ITA': 'ITA', 'PAK': 'PAK',
    'KEN': 'KEN', 'NGA': 'NGA', 'IDN': 'IDN'
}

# Step 3: apply mapping
train_df['country_code'] = train_df['country_code'].map(country_map)

# week

In [338]:
train_df['week'].value_counts()

week
3.0                   231
18.0                  225
39.0                  223
25.0                  223
4.0                   222
                     ...
W19                     1
  6.0                   1
52.0                    1
5                       1
44.037952127977334      1
Name: count, Length: 545, dtype: int64

In [339]:
train_df['week'].unique()

array(['39.0', '11.0\t', '40.0', '33.0', '1.0', '52.0', '15.0', '10.0',
       '5.0', '48.0', '13.0', nan, '37.0', '60', '9.0', '46.0', '4.0',
       '45.0', '49.0', '20.0', '32.0', '14.0', '28.0', '2.0', '11.0',
       '22.0', '38.0', '42.0', '44.0', '47.0', '29.0', 'W1', '27.0',
       'W25', '24.0', '41.0', '35.0', '17.0', 'Week 24', '25.0', '12.0',
       '34.0', '51.0', 'Week 45', '23.0', '  40.0', '16.0', '50.0',
       '19.0', '18.0', '54', '8.0', '  11.0  ', '3.0', '43.0', '30.0',
       '36.0', '31.0', '-1', '6.0', '3', '21.0', '  46.0', '45', '26.0',
       'W23', '55', '  45.0  ', '15.0  ', '7.0', '0', '  34.0', '35.0\t',
       '  10.0', 'Week 35', 'W6', '51.0  ', '42.0\t', '  18.0  ',
       '24.0\t', 'Week 3', '  23.0  ', '  6.0', '  8.0  ', 'W24',
       '33.0  ', '  29.0  ', '  21.0  ', '  30.0  ', '14.0\t', '10.0\t',
       'W48', '19.0\t', '8.0\t', '  31.0', '23.0  ', 'Week 11', '  48.0',
       'W10', '46.0  ', '  40.0  ', '8.0  ', 'Week 46', '31', '38.0\t',
       '  36.0', '  22.0  ', '  28.0  ', '  21.0', '39.0\t', '  4.0',
       'W2', 'W11', '11.0  ', 'Week 10', 'Week 19', '6.0  ', '13.0\t',
       '37.0\t', '16', '53.0', '14.0  ', '11', '41', '36.0\t', '10.0  ',
       '45.0  ', 'Week 12\t', '5.0\t', '42.0  ', '27.0\t', '  5.0', 'W28',
       '  1.0', '6.0\t', '25.0  ', '  16.0', '26.0\t', '27', '  20.0  ',
       '  34.0  ', '  3.0  ', '30.0  ', '35', '  24.0  ', '37.0  ',
       '  14.0', '  50.0  ', 'Week 5', '  19.0  ', 'W12', '  17.0', 'W26',
       '1.0\t', 'Week 22', '45.0\t', '  1.0  ', '  2.0  ', '  46.0  ',
       '  7.0', '26.0  ', '2.0\t', '9.0  ', '45\t', 'Week 48', 'Week 1',
       'Week 29', 'W32\t', '  5.0  ', '32.0  ', '27.0  ', '21',
       '  Week 5', '46.0\t', '12.0\t', '26', '  7.0  ', '  35.0', '40',
       '  37.0', 'Week 2', '20.0\t', '48.0  ', '29.0  ', 'W13', '38.0  ',
       '  43.0  ', '40.0  ', '  52.0  ', '  47.0  ', 'Week 41', 'Week 37',
       '34', '18.0  ', 'Week 33', '32', '15', '  11.0', '28', '  10.0  ',
       'Week 39', '  25.0  ', 'W45', 'W20', '44.0  ', '41.0\t', 'Week 13',
       '  32.0  ', '  27.0', '  17.0  ', '7', '2.0  ', '15.0\t', '39.0  ',
       '  14.0  ', 'Week 36', '  42.0', '36', 'Week 17', '  28.0',
       '52.0\t', '  51.0', '  49.0  ', '3.0\t', '  13.0', '31.0\t',
       '34.0  ', '50.0  ', '  38.0  ', 'W8', 'W22', 'W16', '  53.0',
       '  19.0', 'W7', '  41.0', '49.0  ', 'W42', '48.0\t', '24.0  ',
       'Week 28', '36.0  ', '23.0\t', '17.0\t', '  Week 46  ', '  36',
       '24', '  15.0  ', '  33.0', '43.0  ', '9.0\t', 'W4', '  13.0  ',
       '37', '  25.0', '40.0\t', 'Week 20  ', 'W44', '  35.0  ',
       '  12.0  ', '44', '46', 'W32', '43.0\t', 'W50\t', '13.0  ',
       '  39.0', 'Week 38', '  30.0', 'W46', 'W51', '12', '7.0\t',
       '  51.0  ', 'W43', 'Week 47', '  33.0  ', '50.0\t', '22', '22.0  ',
       '  45.0', 'W52', '  48.0  ', '49.0\t', 'Week 51', '  20.0',
       '32.0\t', '9', 'W36', '18', 'W50', '  38.0', '2', '1', 'W40',
       '  15.0', '20.0  ', '  39.0  ', 'Week 6', '20', '17.0  ',
       'Week 49', '  47.0', '21.0\t', '  26.0  ', '22.0\t', '30.0\t',
       '  32.0', '  9.0  ', 'Week 23', '4', '  W4  ', '  2.0', '17', '8',
       '28.0\t', 'W14', '49', 'W35', 'W49', '52', '  16.0  ', '19.0  ',
       'W3', 'W29', '33.0\t', '10', 'W5', '42', 'Week 34', '  9.0',
       '  44.0  ', '  27.0  ', '30', '18.0\t', '47.0\t', 'Week 21',
       'Week 26', 'Week 20', '16.0\t', 'Week 27', '19', 'Week 31',
       '  49.0', '5.0  ', '12.0  ', 'W33', '23', 'Week 30', '43', '  3.0',
       '28.0  ', '13', 'Week 8', '  52.0', '  36.0  ', '6', '29.0\t',
       '21.0  ', 'W19', '  6.0  ', '52.0  ', '5', 'Week 4', 'Week 16',
       '31.0  ', 'Week 12', '  22  ', 'W47', '  42.0  ', 'W30', '34.0\t',
       'Week 9', 'Week 32', '  22.0', 'W31', '7.0  ', '41.0  ', 'Week  7',
       '33.030965089347305', '43.023059225173306', '28.072240995686258',
       '45.03358304745333', '5.009779839687062', '2.995866413617061',
       '0.9996764211620097', '25.979576316789572', '9.00240470842482',
       '39.940669660139534', '50.02770535209237', '5.997416965203165',
       '50.106100588135284\t', '14.970950435397391', '14.995570373194557',
       '44.070300449433304', '30.9958726253996', '7.998408753197799',
       '31.953543335526625', '49.03344378255107', '42.01520453562361',
       '0.999398822851604', '44.96407589708049', '36.987251075208796',
       '20.017174782802414', '25.96573487937526', '45.010822110755676',
       '39.9915700642742', '52.03297326451786', '22.99240207335076',
       '35.02196107285164', '35.02115786013997', '2.9998868396471328',
       '7.999272018208905', '48.013166400374885', '46.93332540758833',
       '22.98732551764804', '5.001546972112334', '40.057776217042516',
       '36.02450962121049', '14.029133573071402', '34.0090034788585',
       '35.99167490779781', '20.000189094733063', '12.006805205375802',
       '44.9613985775604  ', '45.04179191543355', '49.035160720679585',
       '14.998222033802861', '9.999139233181326', '32.951864667942814',
       '19.973955766933777', '44.05041028099285', '21.99267060327426',
       '1.0010303976041044', '22.983024373570274', '9.983978962403974',
       '16.012931588310114', '39.97618288128716', '26.978854344349084',
       '29.00665150508321', '7.997070414357279', '31.038978295457653',
       '8.988286894056825', '49.06419517055561', '45.939571490923434',
       '50.960906614991906', '12.995315976942855', '47.972470086832956',
       '14.970330821284007', '17.984196607824472', '42.9702512504548',
       '  42.97662455263002  ', '26.995811733293465', '38.00205054169504',
       '41.050908287811694', '21.985822718610233', '48.97899061832339',
       '21.028722572561918', '29.996298221996216', '8.997893741233653',
       '19.97925528708794', '24.01397337265699\t', '12.018457638409881',
       '29.011506557088243', '6.002561623425933', '11.004744642042532',
       '43.030052817935555', '42.93267033439732', '36.035685400732646',
       '23.981653725005643', '15.98168170638245\t', '18.024871613897478',
       '7.009194448550629', '12.996191342842423', '31.945584295670855',
       '13.01665008370775', '31.986593843482378', '46.0175525114185',
       '38.945836347804175', '16.986105528333752', '52.0350406280094',
       '34.00050733496644', '28.035056122691483', '30.99049592887951',
       '35.96834792618855', '10.003765876552613', '21.032027211888053',
       '17.02933702004464', '6.9998955640583', '31.972172620075344',
       '5.002540740669338', '32.987308598050895', '23.990047615576252',
       '18.012485053059358', '49.94782227525299', '39.03877257383599',
       '2.0012936671545307', '24.017975006740624', '44.01222859228041',
       '19.96980696735958', '33.97580402147161', '35.99775673374262',
       '26.975477537235836', '34.96623127754991', '48.06917484004083',
       '25.983787981093798  ', '37.969031757340794', '37.00955856857751',
       '4.993783433484159', '14.99636508982753', '52.04924976108879',
       '19.997186353377785', '52.03491964767549', '53.036367960757815',
       '32.92529314595141', 'W34', '41.02799438247856',
       '43.00512167535258', '28.966321459227494', '33.96750070682836',
       '42.98717947185886', '51.984580190749824', '32.947586000484414',
       '6.013550107239887', '19.0276902664686', '44.96131611663345',
       '11.9980730373106', '45.03367221419228', '26.995798516759123',
       '48.95208186541666', '11.003009914114804', '43.0153632725465',
       '16.011724499076205', '49.07263360278997', '49.92668716870617',
       '0.9991512064901099', '47.98084419834264', '34.98617484575618',
       '13.974175632544574', '38.03453844461685', '49.057232331668025',
       '  5.002973810606282', '5.003288210525109', '5.003809370996368',
       '15.012183050088137', '44.037952127977334'], dtype=object)

In [340]:
def clean_week(x):
    if pd.isna(x):
        return np.nan

    x = str(x).strip().upper().replace('\t', '')

    # Remove textual prefixes
    x = x.replace('WEEK', '').replace('W', '').strip()

    try:
        # Convert to float → round → int
        x = int(round(float(x)))
    except:
        return np.nan

    # Keep only valid week numbers
    if 0 <= x <= 53:
        return x
    else:
        return np.nan


train_df['week'] = train_df['week'].apply(clean_week).astype('Int64')

# region

In [341]:
train_df['region'].unique()

array(['South Asia', 'Africa', 'East Asia', 'South America',
       'Southeast Asia', 'North America', 'Europe\t', 'EUROPE',
       '  Europe  ', 'Europe', 'SOUTH AMERICA', nan, 'Oceania', 'ASEAN',
       'Far East', 'S. America', 'EU', 'SEA', 'Pacific', 'S. Asia',
       'east asia', 'europe', 'Northern America', '  Southeast Asia',
       'African Continent', 'southeast asia', 'SA', 'European Union',
       'oceania', 'EAST ASIA', 'africa', '  Europe', 'Afriia',
       'south asia', 'Africa  ', '  Western Europe  ', 'SOUTH ASIA',
       '  Southeast Asia  ', 'AFRICA', 'Oceania\t', '  South America',
       'Sub-Saharan Africa', 'E. Asia', 'South mAerica', 'NORTH AMERICA',
       'Europe  ', 'Western Europe', 'Arfica', 'Southeast  Asia',
       'South  Asia', 'EUROPE\t', 'Southeast Asia\t', 'SE Asia',
       'N. America', 'north america', 'South East Asia',
       '  North America', '  ASEAN  ', '  S. America  ', 'OCEANIA',
       'Indian Subcontinent', 'south america', '  North America  ',
       'Africa\t', 'southeast  asia', '  South Asia', 'Latin America',
       '  East Asia', '  Oceania', '  Africa  ', 'East  Asia',
       'East Asia\t', 'North America  ', 'Evurope', 'Euaope',
       'Nortth America', 'Sub-Saharan Africa  ', 'South Asia\t',
       'Soputh Asia', 'South Asia  ', 'North Amreica',
       '  African Continent  ', 'Norh America', 'Sounth Asia',
       '  Latin America  ', 'ASEAN\t', '  East Asia  ', 'Afrcia',
       'South sAia', 'EAST ASIA\t', 'Southegst Asia', '  N. America',
       'Sub-Saharan Africa\t', 'North  America', 'SA  ', 'East Asia  ',
       'Western  Europe', 'South  America', 'Nort hAmerica',
       'North Ameria', 'Souqh Asia', 'S. Amrica', 'Afrsica',
       'South America\t', '  Africa', '  southeast asia',
       'Wesstern Europe', 'European Union\t', 'southasia', 'East tsia',
       'Ekurope', 'souetheast asia', 'South Acerica', 'S.  Asia',
       'North America\t', 'Southeast  Asa', '  N. America  ',
       'Austrauia and Oceania', 'Northw America', 'afica',
       '  EAST ASIA  ', 'Soautheast Asia', 'South Aia', 'Soctheast Asia',
       'South America  ', 'Southaest Asia', 'Efrope', 'Afria',
       'S.  America', 'Sub-Sxharan Africa', 'Souhteast Asia',
       'Latin  America', 'Afgrica', '  EU', 'Indian Subcontinent  ',
       'Afica', 'Indian Sebcontinent', '  europe', 'south  america',
       'Soutsheast Asia', '  South America  ', '  SEA',
       'Australia and Occeania', 'FarE ast', 'Ezurope', 'Euqrope',
       'E. Asia\t', 'Australia and Oceania', 'Est Asia',
       'Southeast Asia  ', 'Eost Asia', 'Afhica', 'Eruope',
       '  South Asia  ', 'Euwope', 'Eumrope', 'Eurpe', 'EastAsia',
       'Nortn America', 'Edurope', 'EUROPE  ', 'Notrh America', 'afrmca',
       'Nofrth America', 'NA  ', '  afrcia', 'Eurovpe',
       '  European Union  ', 'oceania\t', 'Oceania  ', 'SouthdAsia',
       'South Asza', 'S Asia  ', 'SoutheastA sia', 'Sotuh Asia',
       'Eurgope', 'SE Asia  ', 'Latin America  ', 'South Amerca',
       'North Amercia', '  East dAsia  ', 'North Aerica',
       'African Continent  ', 'Afrcia\t', '  Sub-Saharan Africa  ',
       'Soutc America', '  east asia', 'South Amyrica', 'Souh America',
       'Erope', '  south america', 'South mAerica  ', 'Ocenaia',
       'S. Amerca', 'Afrira', 'Euope', 'North cmerica', '  europe  ',
       'europe  ', 'Afzica', 'Afeica', 'SouthAsia', 'South Ameica',
       '  EU  ', 'oceania  ', 'Afriqa', '  Suotheast Asia  ', 'Eorope',
       'Aqrica', 'Afrisa', '  south asia', 'southeast asia\t',
       'soush asia', 'Southeast Astia', 'Sojuth America', 'EURPE',
       '  Australia and Oceania  ', 'africa\t', ' Africa',
       '  Sub-Saharan Africa', 'Euroep', '  north america  ',
       'Suotheast Asia', 'Southeast Asgia', 'Afrixca', 'North Aderica',
       'EU  ', '  SOUTH AMERICA', 'S. America  ', 'Oceanlia',
       'Indian  Subcontinent', 'Sout America', 'African Conkinent',
       'Far aEst', 'South Aserica', 'Eupope', 'Southeat Asia',
       'Southeamt Asia', 'Eurdope', 'Southeast hsia', 'South Assia',
       'Southeas tAsia', '  SEA  ', 'Western iEurope', '  oceania',
       'Southeast Aisa', 'Soutx Asia', 'SA\t', 'Nyrth America  ',
       '  EUROEP', 'NorthA merica', 'North A merica', 'east asia  ',
       'Afriac', 'Szoutheast Asia', 'Suoth Asia', 'europe\t',
       'southeast asia  ', 'ASENA', 'Ocerania', '  Northern America  ',
       'Sotuh America', 'SAE', 'Far Eats', 'East jsia',
       'Africapn Continent', '  NORTH AMERICA  ', 'north ameriva',
       '  SOUTH ASIA', 'Soytheast Asia', '  ASEAN', '  Far East',
       'Afriea', 'Soutu America', 'Southeast uAsia', 'Afrdca',
       'Soubh Asia', 'Afirca', 'Ocjania\t', 'Far Eqst', '  Afria  ',
       'European Unin', 'Noryh America', 'Nortz America',
       'African Continent\t', '  Far East  ', 'North dmerica',
       'Nroth America', 'Nrothern America', '  africa',
       'Sub-Saharman Africa', 'Northern Auerica', 'Euarope', 'S. Asia\t',
       'Esat Asia', '  SOUTH ASIA  ', 'SOUTH AMERICA\t', 'Soth Asia',
       'Afrlica', 'Souht America', 'Southeast sAia', 'Sosth America',
       'Souqtheast Asia', '  EUROPE', '  Indian Subcontinent',
       'Northern  America', 'SOUTH AISA', '  SE Asia', 'north america  ',
       'Afrca', 'EastA sia', 'Eurbpe', 'SoutheastAsia', 'Souah Asia',
       'Soulh America', 'Spouth America', 'Afrgica', 'Oceainia',
       'Southest Asia', 'E.  Asia', 'Ocaenia', 'European Unoin  ',
       'Ocenia', 'Latin Amerisca', 'Akrica', 'souht america',
       '  South East Asia', 'South sia', '  east asia  ', 'east asia\t',
       'Aafrica', 'south ameria', 'South Aemrica', '  E. Asia  ',
       '  Sout America  ', 'E. Asia  ', 'Eurore', 'N.  America',
       'Okeania', 'Pacific  ', 'Eurotpe', 'Euorpe', 'Ecrope',
       '  Northern America', 'SEA\t', 'Eurzope', 'africa  '], dtype=object)

In [342]:
test_df['region'].unique()

array(['Southeast Asia', 'South America', 'North America', 'Oceania',
       'Africa', 'South Asia', 'East Asia', 'Europe'], dtype=object)

In [343]:
import re

def clean_region(x):
    if pd.isna(x):
        return np.nan

    x = str(x).lower().strip()
    x = re.sub(r'\s+', ' ', x)   # normalize spaces
    x = x.replace('\t', '')

    # ---- Africa ----
    if any(k in x for k in ['africa', 'afr', 'sub-saharan', 'sub saharan']):
        return 'Africa'

    # ---- Europe ----
    if any(k in x for k in ['europe', 'eu', 'eur']):
        return 'Europe'

    # ---- North America ----
    if any(k in x for k in ['north america', 'n. america', 'n america', 'na']):
        return 'North America'

    # ---- South America ----
    if any(k in x for k in ['south america', 's. america', 'latin america']):
        return 'South America'

    # ---- South Asia ----
    if any(k in x for k in ['south asia', 's. asia', 'southasia', 'indian subcontinent']):
        return 'South Asia'

    # ---- Southeast Asia ----
    if any(k in x for k in [
        'southeast asia', 'south east asia', 'sea', 'asean'
    ]):
        return 'Southeast Asia'

    # ---- East Asia ----
    if any(k in x for k in ['east asia', 'e. asia', 'far east']):
        return 'East Asia'

    # ---- Oceania ----
    if any(k in x for k in ['oceania', 'pacific', 'australia']):
        return 'Oceania'

    return np.nan

In [344]:
train_df['region'] = train_df['region'].apply(clean_region)

In [345]:
train_df['region'].value_counts()

region
Europe            2419
Africa            1968
Southeast Asia    1854
North America     1484
South Asia        1444
South America     1316
East Asia          986
Oceania            472
Name: count, dtype: int64

# month

In [346]:
train_df['month'].unique()

array(['9.0', '3.0', '10.0', '8.0', '1.0', '12.0', '4.0', '2.0', '11.0',
       '7.0', nan, '13', '6.0', '5.0', 'January', 'Jan', '0', '14', '-1',
       '8.009928171570603', '9.99815636526816', '7.0018018219486775',
       '10.969996677847526', '2.0017458966023702', '1.0014074878516106',
       '0.9999742918208169', '7.007605055523564', '2.997093916425072',
       '10.019463883716353', '5.0006276222157355', '12.007708059293446',
       '12.01916815814564', '2.001716557243051', '3.9989350339150698',
       '4.006625136720611', '11.002902652538445', '7.992959254214339',
       '2.001568661925657', '8.000784833495095', '12.027399751071794',
       '3.999546976123345', '0.9991685093275009', '10.99952589435998',
       '9.000967204349154', '5.001506755677347', '5.992136202803477',
       '7.9974673247461014', '10.006976004251447', '11.996021973949553',
       '6.001952630963473', '7.989817309293539', '9.001479649090424',
       '0.9995498079354496', '2.000568230365032', '11.002630999403705',
       '11.003493967973514', '5.997377920979863', '2.0000911178654985',
       '3.002142083264496', '9.987184104778427', '9.016633104429214',
       '9.001101106260315', '4.00523683945366', '8.0023558354272',
       '9.004523023669678', '5.003352749573008', '2.9984072362583634',
       '10.998520791713766', '10.985740549365582', '3.998714643802441',
       '3.001272018877692', '7.997325540045498', '4.000097220622965',
       '10.992704279022686', '5.999517227031402', '1.000090837917009',
       '5.991051879939786', '3.003385454786073', '4.006252931953908',
       '10.001568612587086', '6.993285561446811', '7.004902309187792',
       '1.9977588712509895', '8.001107635911875', '2.9989598295642828',
       '12.002571400272759', '11.001286570839275', '11.999095756800164',
       '2.9959077503629374', '12.006106976011644', '4.994542114317907',
       '9.986839810738887', '10.022693927779073', '10.004682923936294',
       '6.999931627138845', '9.006281515018253', '10.009898421630494',
       '12.00453577245332', '4.991849260831106', '7.004335997684107',
       '3.0007904707884343', '5.003195734233042', '5.998972772073037',
       '9.009252551583911', '3.0045950858059185', '7.00427016636599',
       '2.001355977143996', '3.001342234619986', '9.984145304240009',
       '10.007207210365223', '8.997581256417385', '4.011781811724',
       '4.992478399722637', '1.9978806659184685', '4.007243101651004',
       '8.005555861849505', '3.9972557043257972', '7.996170788996887',
       '7.004602769285142', '10.989206616939875', '9.990152047505049',
       '4.004398021001821', '3.00228418517859', '1.0001499433254273',
       '8.003360531842075', '7.011943173495629', '8.006274766833188',
       '8.991781367137936', '2.99939539271517', '4.990727138958922',
       '2.0032483562693555', '8.002338547306204', '2.0016899208810575',
       '7.987279697068036', '6.011411174681088', '5.000971545989106',
       '11.99602953485798', '0.9999716165909469', '5.999547713106796',
       '11.014987395079741', '4.988767651243014', '7.989823447611698',
       '11.99671471295488', '7.998427962050238', '9.007577247418023',
       '6.996713952752634', '9.014379270228142', '12.008690724224987',
       '7.00362264902709', '8.99593332872125', '1.9992089589664856',
       '4.000380307274921', '12.009109238297093', '5.003332404475563',
       '0.9994743778806053', '1.00009022584948', '8.008677473960914',
       '8.992594319970378', '10.00788027535799', '10.018634374555038',
       '6.999273813250831', '7.993290395476135', '9.99714935065199',
       '12.006543648379676', '7.994317750898088', '2.000010706465388',
       '5.001498781002931', '10.991034428316118', '3.0006939836687483',
       '10.999506043359792', '6.983059750603557', '12.006767246914686',
       '3.0000858723532056', '10.000913195090748', '1.9977678922188644',
       '8.9923602605791', '12.015930579423612', '12.016330500922205',
       '1.0005574007740892', '12.00741798311309', '3.9977138436055184',
       '9.00037962296534', '2.9945316611895927', '3.9959762778709607',
       '9.000474655259563', '11.98840904641354', '2.003576610566588',
       '2.0005622785000163', '2.0010168232190093', '4.000796259669452',
       '10.996978970705175', '5.001007886297911'], dtype=object)

In [347]:
train_df['month'] = (
    pd.to_numeric(train_df['month'], errors='coerce')
    .round()
    .astype('Int64')
)

In [348]:
train_df.loc[~train_df['month'].between(1, 12), 'month'] = pd.NA

In [349]:
test_df['month'].value_counts()

month
7     156
12    154
5     153
10    151
4     148
2     147
9     138
11    138
3     137
6     134
8     125
1     111
Name: count, dtype: int64

# year

In [350]:
train_df['year'].unique()

array(['2019.0', '2020.0', '2017.0', '  2016.0  ', '2025.0', '2018.0',
       nan, '2024.0', '2022.0', '2021.0', '  2017.0', '  2015.0  ',
       '2016.0', '2015.0', '2050', '2023.0', '20l8', '2017.0\t',
       '2019.0  ', '1900', '2016.0  ', '  2023.0', '1850', '2021.0  ',
       '2030', '20I5', '  2022.0', '  2019.0', '  2019.0  ', '2020.0\t',
       '  2021.0', '  2015.0', '  2022.0  ', '  2020.0  ', '2015.0  ',
       '2017.0  ', 'unknown', '  2025.0', '2025.0  ', '2016.0\t',
       '2024.0  ', '  2024.0', '2020.0  ', '2023.0\t', '  2018.0  ',
       '2022.0\t', '2022.0  ', '  2025.0  ', '2019.0\t', '2024.0\t',
       '  2018.0', '2015.0\t', '  2023.0  ', '2021.0\t', '  2016.0',
       '2018.0\t', '  2021.0  ', '2023.0  ', '2025.0\t', '  2017.0  ',
       '2018.0  ', '  2024.0  ', '  2020.0', '2025.6996492846213',
       '2020.842826340562', '2021.9040974917943', '2012.3665100636001',
       '2015.365124263053', '2019.0737909552313', '2018.9621335869285',
       '2018.562763653085', '2017.2969316492145', '2015.9548515860329',
       '2015.9276803096138', '2018.159381474658', '2020.121116421208',
       '2013.0604618248703', '2018.6811092349421', '2012.9171308645762',
       '2021.0875294259044', '2013.864858108246', '2022.1563925018954',
       '2017.7696223223313', '2022.7794522752072', '2018.675304007717',
       '2015.5981814348627', '2017.8731270877522', '2020.3687578730628',
       '2028.4178278801623', '2015.5980386408505', '2028.8252835624169',
       '2023.823904118297', '2021.4878236907496', '2021.8701653576732',
       '2025.2533210263061', '2013.5597456030207', '2014.9854654592611',
       '2015.6457569632992', '2021.392467686471', '2022.613563659031',
       '2019.0790055813568', '2021.3082774711636', '2017.9620851748061',
       '2021.2718689407022', '2018.1981994217292', '2018.4409782224416',
       '2022.9625691248477', '2024.8688754819186', '2022.703088295292',
       '2018.7492035155608', '2016.1860948766544', '2025.8389820738219',
       '2020.6846722610512', '2016.2931371010068', '2017.4636689259942',
       '2019.5313718739485', '2019.7089515413106', '2016.2696911084768',
       '2015.2872624291608', 'unknown\t', '2019.870499839246',
       '2025.7306206853307', '2017.4335679469111', '2020.1668212886527',
       '2020.9593779523332', '2012.7981154491076', '2024.7842604266486',
       '2025.2102022687448', '2025.801634599474', '2016.471939336617',
       '2016.141750788798', '2021.9967632848702', '2012.8543930882447',
       '2025.7439763980738', '2018.2880559609112', '2019.4291849496724',
       '2027.2567014206854', '2021.5687668558344', '2021.720052687018',
       '  2015.624621473306  ', '2026.6093553233914\t',
       '2014.4047381116159', '2027.2457786889686', '2019.2363074845134',
       '2021.857853720823', '2025.6560881116282', '2021.2298867745872',
       '2023.6046457173152', '2022.8548023664255', '  2016.6544295183312',
       '2025.5684120740086', '2016.0406861461204', '2025.6192463187201',
       '2017.7619390852408', '2017.7827229875022', '2017.4233501265546',
       '2016.457739234594', '2013.6700532866844', '2024.933290757933',
       '2024.5139310494121', '2014.1947657490093', '2019.5907049442428',
       '2024.0581363214146', '2021.734024240084', '2019.0478313891626',
       '2015.731620712326', '2021.5101552380959', '2020.521182310333',
       '2017.3321185216246', '2021.1005289282891', '2016.0528295992403',
       '2021.1127170588368', '2024.8083260290057', '2020.3691230762477',
       '2010.8589996292685', '2019.3484460939371', '2020.0750220194184',
       '2019.955628380235', '2016.6365771089274', '2014.290197452678',
       '2024.3535176808139', '2021.4498655199798', '2022.1667966179275',
       '2022.5904367057938', '2026.0540816614612', '2018.1184167374809',
       '2018.798800314939', '2025.1661434742052', '2019.8805088252886',
       '2023.1356216425527', '2027.1114876532943', '2018.733111404458',
       '2020.8829450369456', '2020.8090142174806', '2020.9765238989978',
       '2016.5738668368963', '2023.3566337815446', '2019.759713428239',
       '2022.3261368987146', '2018.452183979791', '2017.515800511558',
       '2016.834476624119', '2020.5046155842592', '2022.9908916379115',
       '2024.3647711434971', '2015.4110817585502', '2020.6780051809465',
       '2020.5494210632735', '2024.078900336072',
       '  2013.5775266504045  ', '2019.060668400884\t',
       '2016.6159012728083', '2021.281859214286', '2018.5435402998442',
       '2021.0780718968902', '2023.9861999890134',
       '  2024.2546235305297  ', '2015.515321575176',
       '2018.5915331141553'], dtype=object)

In [351]:
train_df['year'] = (
    pd.to_numeric(
        train_df['year']
        .astype(str)
        .str.strip()
        .str.replace(r'[lI]', '1', regex=True),  # fix 20l8, 20I5
        errors='coerce'
    )
    .round()
    .astype('Int64')
)

In [352]:
train_df['year'].unique()

<IntegerArray>
[2019, 2020, 2017, 2016, 2025, 2018, <NA>, 2024, 2022, 2021, 2015, 2050, 2023,
 1900, 1850, 2030, 2026, 2012, 2013, 2014, 2028, 2029, 2027, 2011]
Length: 24, dtype: Int64

# food_security_index

In [353]:
train_df['food_security_index'].value_counts()

food_security_index
100.000000    1981
92.000000       54
95.000000       52
96.800000       52
93.600000       50
              ...
99.693719        1
98.976257        1
97.310087        1
99.074603        1
83.689264        1
Name: count, Length: 379, dtype: int64

In [354]:
test_df['food_security_index'].value_counts()

food_security_index
100.0    387
95.6      19
92.9      17
94.3      17
95.2      14
        ...
73.2       1
80.2       1
82.3       1
74.0       1
80.8       1
Name: count, Length: 221, dtype: int64

In [355]:
train_df['food_security_index'] = (
    pd.to_numeric(train_df['food_security_index'], errors='coerce')
    .round(1)
)

# mental health index

In [356]:
train_df['mental_health_index'].value_counts()

mental_health_index
70.400000    94
70.600000    84
71.000000    83
69.500000    81
73.200000    80
             ..
66.624824     1
70.103455     1
67.772136     1
74.995890     1
59.956663     1
Name: count, Length: 455, dtype: int64

In [357]:
train_df['mental_health_index'] = (
    pd.to_numeric(train_df['mental_health_index'], errors='coerce')
    .round(1)
    
)

# health care access

In [358]:
train_df['healthcare_access_index'].value_counts()

healthcare_access_index
84.700000    33
85.400000    33
85.200000    33
84.300000    32
85.100000    31
             ..
64.925364     1
74.340441     1
40.658142     1
65.535503     1
34.013486     1
Name: count, Length: 816, dtype: int64

In [359]:
train_df['healthcare_access_index'] = (
    pd.to_numeric(train_df['healthcare_access_index'], errors='coerce')
    .round(1)
    
)

In [360]:
test_df['healthcare_access_index'].value_counts()

healthcare_access_index
84.4    13
61.8    10
85.8    10
85.5     9
47.7     9
        ..
58.8     1
33.6     1
63.9     1
62.2     1
43.6     1
Name: count, Length: 584, dtype: int64

# gdp_per_capita_usd

In [361]:
test_df['gdp_per_capita_usd'].value_counts()

gdp_per_capita_usd
2917     5
2565     4
69725    4
2785     4
78415    3
        ..
64951    1
49318    1
66213    1
15312    1
2946     1
Name: count, Length: 1328, dtype: int64

In [362]:
test_df.describe()

,record_id,year,month,week,latitude,longitude,population_millions,temperature_celsius,temp_anomaly_celsius,precipitation_mm,heat_wave_days,drought_indicator,flood_indicator,extreme_weather_events,pm25_ugm3,air_quality_index,healthcare_access_index,gdp_per_capita_usd,mental_health_index,food_security_index
count,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000,1692.000000
mean,846.500000,2019.986407,6.611702,26.907801,18.011649,29.875035,216.570922,8.873629,0.110248,81.143144,0.135934,0.009456,0.008274,0.153664,65.668262,98.449173,64.786820,25961.238771,69.670213,93.356442
std,488.582644,3.062013,3.420110,14.888103,25.855142,75.920808,355.503521,11.414132,0.513644,41.205990,0.425902,0.096811,0.090612,0.453678,37.543034,58.082450,18.051803,25949.084327,5.057122,6.114147
min,1.000000,2015.000000,1.000000,1.000000,-38.410000,-106.340000,26.000000,-20.400000,-1.550000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-33.000000,30.200000,1567.000000,49.700000,65.200000
25%,423.750000,2017.000000,4.000000,14.750000,-0.020000,-3.740000,60.000000,0.557500,-0.250000,50.625000,0.000000,0.000000,0.000000,0.000000,37.650000,55.000000,47.675000,3458.000000,66.100000,89.175000
50%,846.500000,2020.000000,7.000000,27.000000,23.630000,22.930000,98.000000,8.575000,0.130000,80.450000,0.000000,0.000000,0.000000,0.000000,59.950000,92.000000,65.600000,14202.000000,70.000000,94.500000
75%,1269.250000,2023.000000,10.000000,40.000000,37.090000,100.990000,206.000000,16.865000,0.460000,110.700000,0.000000,0.000000,0.000000,0.000000,95.125000,140.250000,81.425000,49696.000000,73.100000,99.500000
max,1692.000000,2025.000000,12.000000,53.000000,56.130000,138.250000,1411.000000,37.630000,1.720000,208.800000,4.000000,1.000000,1.000000,5.000000,185.100000,269.000000,99.700000,78415.000000,85.000000,100.000000

In [363]:
train_df['gdp_per_capita_usd'] = pd.to_numeric(train_df['gdp_per_capita_usd'], errors='coerce')

# Set values outside the range to NaN
train_df.loc[~train_df['gdp_per_capita_usd'].between(1567, 78415), 'gdp_per_capita_usd'] = np.nan

# Round the remaining values
train_df['gdp_per_capita_usd'] = train_df['gdp_per_capita_usd'].round()

# air quality index

In [364]:
train_df['air_quality_index'].value_counts()

air_quality_index
69.000000     97
80.000000     93
45.000000     84
62.000000     84
78.000000     81
              ..
119.062814     1
48.084842      1
142.095816     1
144.999255     1
103.016729     1
Name: count, Length: 542, dtype: int64

In [365]:
train_df['air_quality_index'] = (
    pd.to_numeric(train_df['air_quality_index'], errors='coerce')
    .round()
    .astype('Int64')
)

# pm25_ugm3

In [366]:
train_df['pm25_ugm3'].value_counts()

pm25_ugm3
0.0                  325
46.9                  22
41.3                  21
37.6                  19
51.9                  19
                    ...
27.3\t                 1
167.1                  1
154.5                  1
  72.1                 1
84.05785740942265      1
Name: count, Length: 2235, dtype: int64

In [367]:
train_df['pm25_ugm3'] = pd.to_numeric(train_df['pm25_ugm3'], errors='coerce')

# Make all values positive
train_df['pm25_ugm3'] = train_df['pm25_ugm3'].abs()

# precipitation_mm

In [368]:
train_df['precipitation_mm'].value_counts()

precipitation_mm
0.0                   259
106.2                  20
121.5                  19
110.6                  19
-                      18
                     ...
  88.2                  1
2.8188976377952755      1
  94.8                  1
4.909448818897638       1
132.43656303945914      1
Name: count, Length: 2670, dtype: int64

In [369]:
train_df['precipitation_mm'] = (
    pd.to_numeric(train_df['precipitation_mm'], errors='coerce')
    .round()
    .astype('Int64')
)
train_df['precipitation_mm'] = train_df['precipitation_mm'].abs()

# temperature celcius

In [370]:
train_df['temp_anomaly_celsius'].value_counts()

temp_anomaly_celsius
 0.250000    112
 0.070000    111
 0.230000    109
 0.210000    109
 0.160000    108
            ...
 0.589466      1
 0.649624      1
-0.139840      1
-0.120193      1
 0.370175      1
Name: count, Length: 485, dtype: int64

In [371]:
train_df['temp_anomaly_celsius'] = (
    pd.to_numeric(train_df['temp_anomaly_celsius'], errors='coerce')
    .round(2)

)

In [372]:
train_df['temp_anomaly_celsius'].value_counts()

temp_anomaly_celsius
 0.07    113
 0.25    112
 0.23    110
 0.21    110
 0.16    110
        ...
 1.65      1
-1.30      1
 1.74      1
-1.47      1
-1.29      1
Name: count, Length: 310, dtype: int64

# population_millions

In [373]:
train_df['population_millions'].value_counts()

population_millions
60.000000      906
331.000000     459
51.000000      457
206.000000     456
102.000000     453
              ...
125.820927       1
51.042280        1
225.117045       1
50.987485        1
1378.693138      1
Name: count, Length: 248, dtype: int64

In [374]:
train_df['population_millions'] = (
    pd.to_numeric(train_df['population_millions'], errors='coerce')
    .round()
    .astype('Int64')
)
train_df['population_millions'] = train_df['population_millions'].abs()

# longitude and latitude

In [375]:
train_df['latitude'].value_counts()

latitude
 35.860000     483
 12.870000     481
-30.550000     476
 26.820000     476
 37.090000     473
              ...
 393.156594      1
 390.210474      1
 437.772138      1
 440.017233      1
 20.539469       1
Name: count, Length: 323, dtype: int64

In [376]:
# Convert to numeric, coerce errors to NaN
train_df['latitude'] = pd.to_numeric(train_df['latitude'], errors='coerce')

# Round to 2 decimal places
train_df['latitude'] = train_df['latitude'].round(2)

# Fill values outside valid range with NaN
train_df.loc[(train_df['latitude'] < -90) | (train_df['latitude'] > 90), 'latitude'] = np.nan

In [377]:
# Convert to numeric, coerce errors to NaN
train_df['longitude'] = pd.to_numeric(train_df['longitude'], errors='coerce')

# Round to 2 decimal places
train_df['longitude'] = train_df['longitude'].round(2)

# Fill values outside valid range with NaN
train_df.loc[(train_df['longitude'] < -180) | (train_df['longitude'] > 180), 'longitude'] = np.nan

# income_level

In [378]:
train_df['income_level'].unique()

array(['Lower Middle', 'Lower-Middle', 'LOWER-MIDDLE', 'Upper-Middle',
       'High', nan, 'H', 'UPPER-MIDDLE', 'UM', 'HIGH', 'High  ', '  High',
       'Developed', 'lower-middle', 'High\t', 'Rich', 'Emerging',
       'Developing', 'high', 'Upper-Middle  ', 'Lower-Middle\t',
       'upper-middle', '  Lower-Middle', '  Emerging', 'H  ', 'LM',
       '  High  ', 'H\t', '  Lower-Middle  ', 'Upper Middle',
       'High Income', '  Upper-Middle', 'Upper-Middle\t', 'LM\t',
       'Emerging\t', '  Emerging  ', '  Upper-Middle  ', 'high\t',
       'Developed  ', '  Upper Middle  ', 'High Income\t',
       'Lower-Middle  ', 'Upper  Middle', 'LOWER-MIDDLE\t',
       '  upper-middle', 'Emerging  ', 'Upper Middle\t', 'Lower Middle\t',
       'Lower Middle  ', 'High Income  ', '  Rich', 'lower-middle  ',
       '  lower-middle  ', 'Developed\t', 'UPPER-MIDDLE  ',
       'Lower  Middle', '  Lower Middle', '  HIGH  ', 'Upper Middle  ',
       '  LM  ', 'LM  ', 'lower-middle\t', '  Developing', '  Rich  ',
       '  high', '  lower-middle', 'upper-middle  ', 'HIGH\t', 'Rich  ',
       '  LOWER-MIDDLE', '  H  ', 'High  Income', '  Developed  ',
       'high  ', '  Upper Middle', '  high  ', 'Developing\t',
       '  UPPER-MIDDLE  ', '  UPPER-MIDDLE', '  LOWER-MIDDLE  ', '  HIGH',
       '  UM', 'Developing  ', 'UM\t', '  Lower Middle  ',
       '  High Income  ', 'LOWER-MIDDLE  ', 'HIGH  ', 'upper-middle\t'],
      dtype=object)

In [379]:
test_df['income_level'].unique()

array(['Lower-Middle', 'Upper-Middle', 'High'], dtype=object)

In [380]:
# First, convert everything to string and strip spaces & lowercase for uniformity
train_df['income_level'] = train_df['income_level'].astype(str).str.strip().str.lower()

# Define mapping
income_map = {
    'lower middle': 'Lower-Middle',
    'lower-middle': 'Lower-Middle',
    'lm': 'Lower-Middle',
    'developing': 'Lower-Middle',
    'emerging': 'Lower-Middle',

    'upper middle': 'Upper-Middle',
    'upper-middle': 'Upper-Middle',
    'um': 'Upper-Middle',

    'high': 'High',
    'h': 'High',
    'high income': 'High',
    'developed': 'High',
    'rich': 'High'
}

# Apply mapping, unmapped values will become NaN
train_df['income_level'] = train_df['income_level'].map(income_map)

In [381]:
train_df['income_level'].unique()

array(['Lower-Middle', 'Upper-Middle', 'High', nan], dtype=object)

In [382]:
train_df['income_level'].value_counts()

income_level
Lower-Middle    4609
High            4424
Upper-Middle    3302
Name: count, dtype: int64

In [383]:
# Define the mapping
income_map = {
    'Lower-Middle': 0,
    'Upper-Middle': 1,
    'High': 2
}

# Apply mapping
train_df['income_level'] = train_df['income_level'].map(income_map)

# Replace NaN (unmapped values) with -1
train_df['income_level'] = train_df['income_level'].fillna(-1).astype(int)

# encoding

In [384]:
onehot_cols = [
    'country_code',
    'region'
]

train_df = pd.get_dummies(train_df, columns=onehot_cols, drop_first=True)

In [385]:
train_df

,flood_indicator,week,pm25_ugm3,gdp_per_capita_usd,month,precipitation_mm,mental_health_index,year,longitude,food_security_index,...,country_code_USA,country_code_VNM,country_code_ZAF,region_East Asia,region_Europe,region_North America,region_Oceania,region_South America,region_South Asia,region_Southeast Asia
0,0.0,39,93.300000,2700.0,9,50,NaN,2019,78.96,NaN,...,False,False,False,False,False,False,False,False,True,False
1,0.0,11,NaN,4174.0,3,154,70.6,2020,30.80,NaN,...,False,False,False,False,False,False,False,False,False,False
2,0.0,40,111.600000,2606.0,10,51,67.1,2017,78.96,NaN,...,False,False,False,False,False,False,False,False,True,False
3,0.0,33,81.100000,NaN,8,18,69.5,2016,104.19,100.0,...,False,False,False,True,False,False,False,False,False,False
4,NaN,1,114.200000,2963.0,1,134,73.6,2025,78.96,96.1,...,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12837,NaN,5,30.417814,75120.0,2,<NA>,72.6,<NA>,-95.71,NaN,...,True,False,False,False,False,True,False,False,False,False
12838,0.0,<NA>,67.202314,2675.0,2,122,64.5,2024,8.67,NaN,...,False,False,False,False,False,False,False,False,False,False
12839,0.0,15,150.618962,2773.0,4,82,71.6,2024,8.68,92.2,...,False,False,False,False,False,False,False,False,False,False
12840,0.0,44,53.585799,3913.0,11,73,63.6,2016,69.31,83.7,...,False,False,False,False,False,False,False,False,True,False
12841,0.0,0,84.057857,2732.0,5,132,60.0,2019,NaN,NaN,...,False,False,False,False,False,False,False,False,True,False

In [386]:
train_df['health_risk_class'].unique()

array([1, 2, 3, 0])

In [387]:
X = train_df.drop(columns=['health_risk_class'])
y = train_df['health_risk_class']

In [388]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    X, y,
    test_size=0.2,
    random_state=42,
    stratify=y
)

In [389]:
import xgboost as xgb
from xgboost import XGBClassifier
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, log_loss

# ---- Handle categorical columns robustly ----
cat_cols = X_train.select_dtypes(include=['object', 'category']).columns

for col in cat_cols:
    # Fill NaN with placeholder and convert everything to string
    X_train[col] = X_train[col].fillna('missing').astype(str)
    X_test[col] = X_test[col].fillna('missing').astype(str)

    # Label encode
    le = LabelEncoder()
    X_train[col] = le.fit_transform(X_train[col])
    X_test[col] = le.transform(X_test[col])

# ---- Initialize XGBClassifier ----
model_xgb = XGBClassifier(
    n_estimators=1000,
    learning_rate=0.05,
    max_depth=8,
    subsample=0.8,
    colsample_bytree=0.8,
    objective='multi:softprob',
    num_class=len(np.unique(y_train)),  # safer than hardcoding 4
    eval_metric='mlogloss',
    random_state=42
)

# ---- Check classes ----
unique_classes = np.unique(y_train)
if len(unique_classes) < 2:
    raise ValueError(f"Expected multiple classes for classification but got {len(unique_classes)}")

# ---- Fit model ----
model_xgb.fit(
    X_train,
    y_train,
    eval_set=[(X_test, y_test)],
    verbose=100
)

# ---- Predict and evaluate ----
proba_xgb = model_xgb.predict_proba(X_test)
pred_xgb = np.argmax(proba_xgb, axis=1)

print("XGBoost Accuracy:", accuracy_score(y_test, pred_xgb))
print("XGBoost LogLoss:", log_loss(y_test, proba_xgb))

[0]	validation_0-mlogloss:1.34316
[100]	validation_0-mlogloss:0.92707
[200]	validation_0-mlogloss:0.93390
[300]	validation_0-mlogloss:0.95158
[400]	validation_0-mlogloss:0.97232
[500]	validation_0-mlogloss:0.99611
[600]	validation_0-mlogloss:1.01979
[700]	validation_0-mlogloss:1.04679
[800]	validation_0-mlogloss:1.07122
[900]	validation_0-mlogloss:1.09599
[999]	validation_0-mlogloss:1.11880
XGBoost Accuracy: 0.5632541845075905
XGBoost LogLoss: 1.1188009718897225